<nb-card size="large">
    <nb-card-header>
      <span>Tsunami Potential Prediction</span>
    </nb-card-header>
    <nb-card-body>
      <form class="m-4">
        <div class="form-group">
          <label>Rupture duration, in seconds (<i>T<sub>0</sub></i>)</label>
          <input type="number" class="form-control" placeholder="Unnormalized rupture duration"
            value="76.21047386"/>
        </div>
        <div class="form-group">
          <label>P-wave dominant period, in seconds (<i>T<sub>d</sub></i>)</label>
          <input type="number" class="form-control" placeholder="Unnormalized P-wave dominant period"
            value="3.484952633"/>
        </div>
        <div class="form-group">
          <label>Moment magnitude (<i>M<sub>w</sub></i>)</label>
          <input type="number" class="form-control" placeholder="Unnormalized moment magnitude"
            value="7.4894408801871"/>
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
      </form>
      <div class="m-4">
        <p><strong>Prediction</strong></p>
        <p><strong style="color: red">Tsunami-Yes</strong> = 0.3773287236690521</p>
        <p><strong style="color: green">Tsunami-No</strong> = 0.7557135224342346</p>
        <p>Result: <strong style="color: green">No Tsunami Potential</strong></p>
      </div>
    </nb-card-body>
  </nb-card>
  

<nb-card size="xxlarge">
  <nb-card-header>
    <span>Earthquakes</span>
    <!-- <div class="dropdown ghost-dropdown" ngbDropdown>
      <button type="button" class="btn btn-sm" ngbDropdownToggle
              [ngClass]="{ 'btn-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
        {{ type }}
      </button>
      <ul ngbDropdownMenu class="dropdown-menu">
        <li class="dropdown-item"
            *ngFor="let t of types"
            (click)="getUserActivity(t); type = t">
          {{ t }}
        </li>
      </ul>
    </div> -->
  </nb-card-header>
  <nb-card-body>
    <ul class="user-activity-list">
      <li *ngFor="let earthquake of earthquakes">
        <div class="earthquake-name">
          <small>{{ earthquake.name }}</small>
        </div>
        <div class="visited-pages-count" style="width: 15rem">
          <div class="title">Origin Time</div>
          <div class="value"><small>{{ earthquake.originTime | date : 'yyyy-MM-dd HH:mm:ss ZZZ' : 'UTC'}}</small></div>
        </div>
        <div class="visited-pages-count" style="width: 10rem">
          <div class="title">Magnitude <small>(M<sub>W</sub>)</small></div>
          <div class="value">{{ earthquake.mw }}</div>
        </div>
        <div class="visited-pages-count" style="width: 10rem">
            <div class="title">Depth</div>
            <div class="value">{{ earthquake.usgsDepth }} <small>km</small></div>
        </div>
        <div class="visited-pages-count" style="width: 10rem">
          <div class="title">Tsunami</div>
          <div class="value"
               [class.text-danger]="earthquake.noaaTsunami">
            {{ earthquake.noaaTsunami ? "Yes" : "No" }}
          </div>
        </div>
      </li>
    </ul>
  </nb-card-body>
</nb-card>
